@import url("./globalStyle.css");
*{
    color: #fff;
}
.signup-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.signup-container::before{
    content: "";
    position: absolute;
    z-index: -10;
    background-image: url("../img/background.png");
    top: 0; left:0; bottom: 0; right: 0;
    filter: blur(4px);
}
.signup-container::after{
    content: "";
    position: absolute;
    z-index: -10;
    top: 0; left:0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.6);
}
.new{
    /* width: 60%; */
}
.signup{
    /* width: 40%;  */
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup-header{
    height: 8rem;
}
.signup-header .logo{
    height: inherit;
}
.signup-content{

}
.signup-content-title{
}
.form-handle form{
    display: grid;
    padding: 0 1rem;
    grid-template-columns: auto auto;
}
.input{

    margin: 0 0 1rem 1rem;
}
.text-input input{
    display: block;
    width: 90%;
    padding: 0.5rem; font-size: 1.05rem;
    outline: none;
    border: 1px solid transparent;

    border-radius: 0.25rem;
    color: #000;
}
.text-input input:focus{
    border: 1px solid #247dc6;
    box-shadow: 0 0 4px #247dc6;
}
.checkbox-input{
    grid-column: 1/ span 2;
}
.checkbox-input input{
    margin-right: 0.25rem;
    width: 1rem; height: 1rem;
    cursor: pointer;
}
.checkbox-input input:valid:checked{
    accent-color: rgb(243,147,29) !important;

}
.checkbox-input a{
    color: #717d88;
}
.checkbox-input a:hover{
    text-decoration: underline;
    color: #247dc6;

}
.submit-input{
    grid-column: 1/ span 2;
}
.submit-input input{
    background-color: #247dc6;
    border: none;
    font-size: inherit;
    padding: 0.65rem 0.95rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}
.submit-input input:hover{
    background-color: rgb(243,147,29);
}
.have-account{
    margin-top: 2rem;
}
.have-account a{
    color: #717d88;
}
.have-account a:hover{
    color: rgb(243,147,29);
}